<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.k12">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- for mta statistics -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.tencent.k12.MainActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="sdksample"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.tencent.k12.wxapi.WXEntryActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="true"
            android:taskAffinity="net.sourceforge.simcpux"
            android:launchMode="singleTask">
        </activity>

        <activity
            android:name="com.tencent.k12.SendToWXActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:launchMode="singleTask"
            android:theme="@style/MMTheme.Basic"/>

        <activity
            android:name="com.tencent.k12.GetFromWXActivity"
            android:label="@string/app_name"
            android:theme="@style/MMTheme.Basic"/>

        <activity
            android:name="com.tencent.k12.ShowFromWXActivity"
            android:label="@string/app_name"
            android:theme="@style/MMTheme.Basic"/>

        <receiver
            android:name="com.tencent.k12.AppRegister"
            android:permission="com.tencent.mm.plugin.permission.SEND" >
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>

        <activity android:name="com.tencent.k12.SubscribeMessageActivity"
            android:label="@string/subscribe_message"
            android:theme="@style/MMTheme.Basic"/>

        <activity android:name="com.tencent.k12.SubscribeMiniProgramMsgActivity"
            android:label="@string/subscribe_message"
            android:theme="@style/MMTheme.Basic"/>

        <activity android:name="com.tencent.k12.UserInfoActivity"
            android:label="@string/app_name"
            android:theme="@style/MMTheme.Basic"/>
    </application>

</manifest>